div
  div.row.header
    .col-xs-12
      div.meta
        div.title Dropdown Menu
  div.page
    div.panel
      div.row
        div.col-sm-6
          h3 Up direction
          div(style="padding-top: 150px;")
            tribe-dropdown(dropdown-direction='up' pull-direction='right'  dropdown-trigger='dropdownClick' opened-status='dropDownTwoStatus')
              tribe-dropdown-trigger
                i.bimg
              tribe-dropdown-list
                .item Hello
                .item World
                .item.disabled World
                .separator
                .item World2
            div DropDown
            div {{dropDownTwoStatus ? 'true' : 'false'}}
        div.col-sm-6
          h3 Down direction
          div DropDown
          div {{dropDownStatus ? 'true' : 'false'}}
          tribe-dropdown(dropdown-direction='down' pull-direction='left'  dropdown-trigger='dropdownClick' opened-status='dropDownStatus' auto-close='true')
            tribe-dropdown-trigger
              i.bimg
            tribe-dropdown-list
              .item(ng-click="$dropdown.close()") Hello close
              .item World
              .item.disabled World
              .separator
              .item World2
