div
  div.row.header
    .col-xs-12
      div.meta
        div.title Home
  div.page
    div.panel
      div.row
        div.col-sm-6
          h3 Click on a component on the left menu to see it in action.
