div
    div.row.header
        div.col-xs-12
            div.meta
                div.title Select
    .page
        .panel
            .row
                .col-sm-12
                    .form-group
                        h3 All input fields should be navigable using TAB

                        .col-sm-6
                            p
                                h4 Username
                                input(type="text", ng-model="username", placeholder="Username", class="form-control", autofocus)

                            p
                                h4 Simple Select (empty)
                                ui-select(ng-model="myAge1", tabindex="0", tribe-select-dont-close-on-click, tribe-select-open-on-focus, tribe-select-prevent-tab, tribe-select-max-length="40")
                                    ui-select-match(placeholder="Select Age...")
                                        span {{$select.selected}}
                                    ui-select-choices(repeat="age in (ages | filter: $select.search)", refresh="loadAgesDummy()", tribe-select-fetch-on-open="executeSelectFetchOnOpen")
                                        span(ng-bind-html="age | highlight: $select.search")
                            p
                                h4 Simple Select (with default value)
                                ui-select(ng-model="myAge2", tabindex="0", tribe-select-open-on-focus, tribe-select-prevent-tab, tribe-select-backspace-cancel-reset)
                                    ui-select-match(placeholder="Select Age...")
                                        span {{$select.selected}}
                                    ui-select-choices(repeat="age in (ages | filter: $select.search)")
                                        span(ng-bind-html="age | highlight: $select.search")
                            p
                                h4 Select multiple, keep opened on select
                                ui-select(
                                ng-model="myAge3",
                                tabindex="0",
                                tribe-select-open-on-focus,
                                tribe-select-prevent-tab,
                                tagging="tagNull",

                                multiple,
                                tribe-select-multiple-focus-helper
                                )
                                    ui-select-match(placeholder="Select Age...")
                                        span {{$item}}
                                    ui-select-choices(repeat="age in (ages | filter: $select.search)")
                                        span(ng-bind-html="age | highlight: $select.search")
                            p
                                h4 Select multiple (with 1500 ms delay to open on-focus)
                                ui-select(multiple ng-model="myAge4", tabindex="0", tribe-select-open-on-focus, tribe-select-prevent-tab, open-on-focus-delay="1500")
                                    ui-select-match(placeholder="Select Age...")
                                        span {{$item}}
                                    ui-select-choices(repeat="age in (ages | filter: $select.search)")
                                        span(ng-bind-html="age | highlight: $select.search")

                            p
                                h4 Select multiple (with 1500 ms delay to open on-focus, only the first time that it opens)
                                ui-select(multiple ng-model="myAge5", tabindex="0", tribe-select-open-on-focus, tribe-select-prevent-tab, open-on-focus-delay="1500", open-on-focus-delay-once="true")
                                    ui-select-match(placeholder="Select Age...")
                                        span {{$item}}
                                    ui-select-choices(repeat="age in (ages | filter: $select.search)")
                                        span(ng-bind-html="age | highlight: $select.search")

                            p
                                h4 Select simple with tagging
                                ui-select(ng-model="myAge6", tagging="taggingCallback", tagging-label="false", reset-search-input="false", tabindex=0, tribe-select-open-on-focus, tribe-select-prevent-tab)
                                    ui-select-match(placeholder="Select Age...")
                                        span {{$select.selected}}
                                    ui-select-choices(repeat="age in (ages | filter: $select.search)", allow-clear="true")
                                        span(ng-bind-html="age | highlight: $select.search")
                            p
                                h4 Select multiple with tagging
                                tribe-tags(ng-model="myAge7")

                            p
                                h4 Email
                                input(type="text", ng-model="email", placeholder="Email", class="form-control")

                            p
                                h4 Dropdown with pagination
                                ui-select.ages-dropdown(multiple, tagging="stringToGroupReference", tagging-tokens="ENTER|,", ng-model="myAge8", sortable="true", tabindex="0", tribe-select-open-on-focus, tribe-select-prevent-tab)
                                    ui-select-match(placeholder="Select Age...")
                                        span {{$select.selected}}
                                    ui-select-choices(tribe-select-pagination-control, items="agesPaginated", paging-busy="$$pagingBusy", total="$$total", ui-disable-choice="age.$$loader", repeat="age in (agesPaginated | filter: $select.search)", refresh="loadAges()", refresh-delay="0")
                                        div(tribe-activate-hover="age", ng-if="!age.$$loader")
                                            span(ng-bind-html="age | highlight: $select.search")
                                        tribe-select-pagination-loader(item="age", item-name="ages", paging-state="$$pagingState", paging-busy="$$pagingBusy", container-class="ages-dropdown", refresh="loadAges()")
                            p
                                h4 Select simple with search save
                                ui-select(ng-model="myAge9", tabindex="0", tribe-select-open-on-focus, tribe-select-prevent-tab)
                                    ui-select-match(placeholder="Select...", tribe-select-save-search="name")
                                        span {{$select.selected.name}}
                                    ui-select-choices(repeat="item in (sampleObjects | filter: $select.search)")
                                        span(ng-bind-html="item.name | highlight: $select.search")
                            p
                                h4 Simple Select (empty)
                                ui-select(ng-model="myAge10", tabindex="0", tribe-select-dont-close-on-click, tribe-select-open-on-focus, tribe-select-prevent-tab="{{allowTabCondition}}", tribe-select-on-tab="{{!allowTabCondition}}", tribe-select-max-length="40")
                                    ui-select-match(placeholder="Select Age...")
                                        span {{$select.selected}}
                                    ui-select-choices(repeat="age in (ages | filter: $select.search)", refresh="loadAgesDummy()", tribe-select-fetch-on-open)
                                        span(ng-bind-html="age | highlight: $select.search")
