div
  div.row.header
    div.col-xs-12
      div.meta
        div.title Tags
  div.page
    div.panel
      div.row
        div.col-sm-6
          form(name="tagsForm")
            h3 Select some tags or create new ones
            tribe-tags(ng-model="tags").col-sm-12

            h3 Tags (dropdown open up)
            tribe-tags(ng-model="tags1", field-name="tags1", position="up").col-sm-12

            h3 Tags (dropdown open down)
            tribe-tags(ng-model="tags2", field-name="tags2", position="down").col-sm-12
        div(ng-if="tags.length").col-sm-6
          h3 Selected Tags
          ul
            li(ng-repeat="t in tags") {{t.name}} ({{t.id || '-'}})
              code [{{t | json}}]
      div.clear
