div
  div.row.header
    div.meta
      div.title Tags
  div.panel
    div
      div.col-sm-6
        h3 Select some tags or create new ones
        tribe-tags(ng-model="tags").col-sm-12
      div(ng-if="tags.length").col-sm-6
        h3 Selected Tags
        ul
          li(ng-repeat="t in tags") {{t.name}} ({{t.id || '-'}})
    div.clear
