div
    div.row.header
        div.col-xs-12
            div.meta
                div.title Tooltip
    div.page
        div.panel
            div.row
                div.col-sm-12
                    h4 Simple Tooltip Example (top middle without position declared)
                    p
                        span Move the mouse over the following text:
                        span(tribe-tooltip='This is a simple tooltip' style="margin-left: 30px") Hover me

                    h4 Simple Tooltip Example (top middle using tribe-tooltip-position="top")
                    p
                        span Move the mouse over the following text:
                        span(tribe-tooltip='This is a simple tooltip' tribe-tooltip-position="top", style="margin-left: 30px") Hover me

                    h4 Simple Tooltip Example (top middle using tribe-tooltip-position="top middle")
                    p
                        span Move the mouse over the following text:
                        span(tribe-tooltip='This is a simple tooltip' tribe-tooltip-position="top middle", style="margin-left: 30px") Hover me

                    h4 Simple Tooltip Example (top left using tribe-tooltip-position="top left")
                    p
                        span Move the mouse over the following text:
                        span(tribe-tooltip='This is a simple tooltip' tribe-tooltip-position="top left" style="margin-left: 30px") Hover me

                    h4 Simple Tooltip Example (top right using tribe-tooltip-position="top right")
                    p
                        span Move the mouse over the following text:
                        span(tribe-tooltip='This is a simple tooltip' tribe-tooltip-position="top right" style="margin-left: 30px") Hover me

                    h4 Simple Tooltip Example (bottom left using tribe-tooltip-position="bottom left")
                    p
                        span Move the mouse over the following text:
                        span(tribe-tooltip='This is a simple tooltip' tribe-tooltip-position="bottom left" style="margin-left: 30px") Hover me

                    h4 Simple Tooltip Example (bottom middle using tribe-tooltip-position="bottom middle")
                    p
                        span Move the mouse over the following text:
                        span(tribe-tooltip='This is a simple tooltip' tribe-tooltip-position="bottom middle" style="margin-left: 30px") Hover me

                    h4 Simple Tooltip Example (bottom right using tribe-tooltip-position="bottom right")
                    p
                        span Move the mouse over the following text:
                        span(tribe-tooltip='This is a simple tooltip' tribe-tooltip-position="bottom right" style="margin-left: 30px") Hover me

                    h4 Simple Tooltip Example (left tribe-tooltip-position="left")
                    p
                        span Move the mouse over the following text:
                        span(tribe-tooltip='This is a simple tooltip' tribe-tooltip-position="left" style="margin-left: 30px") Hover me

                    h4 Simple Tooltip Example (right tribe-tooltip-position="right")
                    p
                        span Move the mouse over the following text:
                        span(tribe-tooltip='This is a simple tooltip' tribe-tooltip-position="right" style="margin-left: 30px") Hover me


                    h4 Tooltip with Updatable Text
                    p
                        span Move the mouse over the following text (the tooltip text will change in 3s):
                        span(tribe-tooltip='{{message}}' style="margin-left: 30px") Hover me

                    h4 Tooltip with 1 sec delay
                    p
                        span Move the mouse over the following text (the tooltip will appear in 1s):
                        span(tribe-tooltip='This is a delayed tooltip', tribe-tooltip-show-delay="1000", style="margin-left: 30px") Hover me