div
  div.row.header
    .col-xs-12
      div.meta
        div.title Typescript Utilities
  div.page
    div.panel
      div.row
        div.col-sm-12
          h3 TimeUtils and LongDuration examples
      div.row
        div.col-sm-6
          h4 Parse new LongDuration
          div
            input.form-control(ng-model="aString")
            h5 aString (a {{ aObject < bObject ? '<' : (aObject > bObject ? '>' : '==') }} b)
        div.col-sm-6
          h4 Data
          div
            pre(ng-bind-html="aObject | json | prettify")
      div.row
        div.col-sm-6
          div
            input.form-control(ng-model="bString")
            h5 bString (b {{ bObject < aObject ? '<' : (bObject > aObject ? '>' : '==') }} a)
            h6
              = "(for equal comparison use "
              code a.valueOf() == b.valueOf()
              = " or "
              code +a == +b
              = " )"
        div.col-sm-6
          div
            pre(ng-bind-html="bObject | json | prettify")
      div.row
        div.row
          div.col-sm-6
            h4 LongDuration.formatHighest
            div
              pre(ng-bind-html="fObject | json | prettify")
          div.col-sm-6
            h4 LongDuration.Normalize
            div
              pre(ng-bind-html="nObject | json | prettify")
      div.row
        div.row
          div.col-sm-6
            h4 TimeUtils.abbreviate
            div
              pre(ng-bind-html="abObject | json | prettify")
