ui-select(multiple, tagging="stringToTagReference", tagging-tokens="ENTER|,", ng-model="self.ngModel", sortable="true", style="width: 25%;")
    ui-select-match(placeholder="Select tag...") {{$item.name}}
    ui-select-choices(repeat="tag in availableTags | filter:{name: $select.search}" group-by="groupSuggestions" ng-show="($select.items.length > 0) &&")
        //here will be ng-show="($select.items.length > 0) && $select.open", don't ask why
        span(ng-if="!tag.isTag" ng-bind-html="tag.name + tag.isTag| highlight: $select.search")
        span(ng-if="tag.isTag" class="fucking-amazing" ng-bind-html="(tag.name | highlight: $select.search) + ' (new)'")

