body
  font-size: 11px
  font-family: Montserrat, sans-serif
  font-weight: bold
  text-transform: uppercase
.alegreya
  font-family: 'Alegreya Sans', sans-serif
.btn-primary.btn-l span
  font-size: 30px
.btn-primary.btn-m span.rt
  font-size: 13px
.column
  margin: 50px 0 0
  display: inline-block
  height: 300px
  width: 300px
.pull-right
  float: right
.bimg
  background-repeat: no-repeat
  background-position: right center
  background-image: url(../images/threeDots-icon.png)
  margin-right: 8px
.outside-trigger
  left: 0
  position: absolute