div.tribe-bulkbar
    div.bulk-bar.wrap
        div.inner-wrap
            div.bulk-check
                input(type="checkbox")
            p.selected-apps
                strong 1
                span Screen Selected
            ul.bulk-options
                li.list-item
                    a
                        i.fa.fa-share.fa-2x
                li.list-item
                    a
                        i.fa.fa-inbox.fa-2x
                li.list-item
                    a
                        i.fa.fa-trash.fa-2x
                li.list-item
                    a
                        i.bimg
            p.instructions
                span
                    i(style='color: #a0a8b7') shift+click to select, esc to deselect all