@import "~bourbon/app/assets/stylesheets/_bourbon.scss";

$btn-padding:   ('xs': 10px, 's': 12px, 'm': 14px, 'l': 16px, 'xl': 26px);
$btn-font-size: ('xs': 11px, 's': 11px, 'm': 13px, 'l': 14px, 'xl': 16px);
$btn-icon-size: ('xs': 13px, 's': 15px, 'm': 20px, 'l': 24px, 'xl': 28px);

$base-round:            20px !default;
$base-spacing-unit:     8px  !default;

$size-xs:               24px !default;
$size-s:                30px !default;
$size-m:                36px !default;
$size-l:                40px !default;
$size-xl:               56px !default;

$sizes:                 ('xs': $size-xs, 's': $size-s, 'm': $size-m, 'l': $size-l, 'xl': $size-xl);

  // Main colors
$orange:        #E87225;
$light-orange:  #F99A5C;
$dark-grey:     #464748;
$grey:          #A8A9AA;
$light-grey:    #E2E1E1;
$green:         #1AAE6A;
$amber:         #F8AC59;
$red:           #F16060;
$white:         #FFFFFF;

$primary:               $orange !default;
$primary-hue-1:         $light-orange !default;
$accent:                $dark-grey  !default;
$accent-hue-1:          $grey  !default;
$accent-hue-2:          $light-grey  !default;
$colors:                ('primary': $primary, 'primary-hue-1': $primary-hue-1, 'accent': $accent, 'accent-hue-1': $accent-hue-1,'accent-hue-2': $accent-hue-2);

$base-font-size:        16px            !default;

@mixin font-size($font-size){
  font-size: $font-size;
  font-size: ($font-size / $base-font-size) * 1rem;
}

.tooltip {
  position: absolute;
  z-index: 9999;
  border-radius: $base-round;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  @include transition-property(opacity, transform);
  @include transition-duration(0.6s);
  @include transition-timing-function($ease-out-quint);
}

.tooltip-is-active {
  opacity: 1;

  &.tooltip-top {
     @include transform(translateY(-14px));
  }

  &.tooltip-bottom {
    @include transform(translateY(14px));
  }

  &.tooltip-left {
    @include transform(translateX(-24px));
  }

  &.tooltip-right {
    @include transform(translateX(14px));
  }
}

// Tooltip background
.tooltip__background {
  @include position(absolute, 0 0 0 0);
  z-index: -1;
  border-radius: 50%;
  background-color: $dark-grey;
  @include transform(scale(0) translateY(50%));
  @include transition-property(transform);
  @include transition-duration(0.6s);
  @include transition-timing-function($ease-out-quint);
}

// Tooltip label
.tooltip__label {
  display: block;
  color: $white;
  white-space: nowrap;

    padding: 0 $base-spacing-unit;
    @include font-size(10px);
    line-height: 22px;
}





// Tooltip direction modifiers
.tooltip-top {
  .tooltip__background {
    @include transform(scale(0) translateY(50%));
    @include transform-origin(center bottom);
  }
}

.tooltip-top.tooltip-is-active {
  .tooltip__background {
    @include transform(scale(3) translateY(50%));
  }
}

.tooltip-bottom {
  .tooltip__background {
    @include transform(scale(0) translateY(-50%));
    @include transform-origin(center top);
  }
}

.tooltip-bottom.tooltip-is-active {
  .tooltip__background {
    @include transform(scale(3) translateY(-50%));
  }
}

.tooltip-left {
  .tooltip__background {
    @include transform(scale(0) translateX(50%));
    @include transform-origin(right center);
  }
}

.tooltip-left.tooltip-is-active {
  .tooltip__background {
    @include transform(scale(3) translateX(50%));
  }
}

.tooltip-right {
  .tooltip__background {
    @include transform(scale(0) translateX(-50%));
    @include transform-origin(left center);
  }
}

.tooltip-right.tooltip-is-active {
  .tooltip__background {
    @include transform(scale(3) translateX(-50%));
  }
}