doctype html
html
  head
    meta(http-equiv="Content-type" content="text/html; charset=utf-8")
    link(href="https://fonts.googleapis.com/css?family=Alegreya+Sans" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")
    title Test title
    base(href="/")
  body
    .container-fluid
      div(ng-app='demo-app')
        nav.clear.row.pull-right
            a.nav-item(href="/") Home
            a.nav-item(href="/plus") Plus
            a.nav-item(href="/bulk-edit") Bulk edit
            a.nav-item(href="/dropdown") Dropdown
            a.nav-item(href="/tags") Tags
        div(ng-view)