doctype html
html
  head
    meta(http-equiv="Content-type" content="text/html; charset=utf-8")
    title Test title
  body
    .container-fluid
      div(ng-app='demo-app')
        div
          .top-background
          div(data-app-header)
          section
            div
              tribe-fab(tribe-direction='bottom')
                tribe-fab-trigger
                  tribe-button(tribe-size='xl', tribe-type='fab', tribe-tooltip='Add', tribe-tooltip-position='top')
                    i.fa.fa-plus
                tribe-fab-actions
                  tribe-button(tribe-size='l', tribe-color='black', tribe-type='fab', tribe-tooltip='Delete', tribe-tooltip-position='right')
                    i.fa.fa-android
                  tribe-button(tribe-size='l', tribe-color='black', tribe-type='fab', tribe-tooltip='Archive', tribe-tooltip-position='right')
                    i.fa.fa-pencil
                  tribe-button(tribe-size='l', tribe-color='black', tribe-type='fab', tribe-tooltip='Edit', tribe-tooltip-position='right')
                    i.fa.fa-remove
